<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visitor.shop.mapper.MBrandMapper">
    
    <resultMap type="MBrand" id="MBrandResult">
        <result property="searchValue"    column="search_value"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="id"    column="id"    />
        <result property="brandName"    column="brand_name"    />
    </resultMap>

    <sql id="selectMBrandVo">
        select search_value, create_by, create_time, update_by, update_time, remark, id, brand_name from m_brand
    </sql>

    <select id="selectMBrandList" parameterType="MBrand" resultMap="MBrandResult">
        <include refid="selectMBrandVo"/>
        <where>  
            <if test="searchValue != null  and searchValue != ''"> and search_value = #{searchValue}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMBrandById" parameterType="Integer" resultMap="MBrandResult">
        <include refid="selectMBrandVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMBrand" parameterType="MBrand" useGeneratedKeys="true" keyProperty="id">
        insert into m_brand
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="searchValue != null  and searchValue != ''">search_value,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="brandName != null  and brandName != ''">brand_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="searchValue != null  and searchValue != ''">#{searchValue},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="brandName != null  and brandName != ''">#{brandName},</if>
         </trim>
    </insert>

    <update id="updateMBrand" parameterType="MBrand">
        update m_brand
        <trim prefix="SET" suffixOverrides=",">
            <if test="searchValue != null  and searchValue != ''">search_value = #{searchValue},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="brandName != null  and brandName != ''">brand_name = #{brandName},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMBrandById" parameterType="Integer">
        delete from m_brand where id = #{id}
    </delete>

    <delete id="deleteMBrandByIds" parameterType="String">
        delete from m_brand where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>