<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visitor.shop.mapper.MProductMapper">
    
    <resultMap type="MProduct" id="MProductResult">
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="productId"    column="product_id"    />
        <result property="productName"    column="product_name"    />
        <result property="price"    column="price"    />
        <result property="productDescribe"    column="product_describe"    />
        <result property="image"    column="image"    />
        <result property="brandName"    column="brand_name"    />
        <result property="teamName"    column="team_name"    />
        <result property="useName"    column="use_name"    />
    </resultMap>

    <sql id="selectMProductVo">
        select create_by, create_time, update_by, update_time, remark, product_id, product_name, price, product_describe, image, brand_name, team_name, use_name from m_product
    </sql>

    <select id="selectMProductList" parameterType="MProduct" resultMap="MProductResult">
        <include refid="selectMProductVo"/>
        <where>  
            <if test="productName != null  and productName != ''"> and product_name like concat('%', #{productName}, '%')</if>
            <if test="price != null  and price != ''"> and price = #{price}</if>
            <if test="productDescribe != null  and productDescribe != ''"> and product_describe = #{productDescribe}</if>
            <if test="image != null  and image != ''"> and image = #{image}</if>
            <if test="brandName != null  and brandName != ''"> and brand_name like concat('%', #{brandName}, '%')</if>
            <if test="teamName != null  and teamName != ''"> and team_name like concat('%', #{teamName}, '%')</if>
            <if test="useName != null  and useName != ''"> and use_name like concat('%', #{useName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMProductById" parameterType="Integer" resultMap="MProductResult">
        <include refid="selectMProductVo"/>
        where product_id = #{productId}
    </select>
        
    <insert id="insertMProduct" parameterType="MProduct" useGeneratedKeys="true" keyProperty="productId">
        insert into m_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="productName != null  and productName != ''">product_name,</if>
            <if test="price != null  and price != ''">price,</if>
            <if test="productDescribe != null  and productDescribe != ''">product_describe,</if>
            <if test="image != null  and image != ''">image,</if>
            <if test="brandName != null  and brandName != ''">brand_name,</if>
            <if test="teamName != null  and teamName != ''">team_name,</if>
            <if test="useName != null  and useName != ''">use_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="productName != null  and productName != ''">#{productName},</if>
            <if test="price != null  and price != ''">#{price},</if>
            <if test="productDescribe != null  and productDescribe != ''">#{productDescribe},</if>
            <if test="image != null  and image != ''">#{image},</if>
            <if test="brandName != null  and brandName != ''">#{brandName},</if>
            <if test="teamName != null  and teamName != ''">#{teamName},</if>
            <if test="useName != null  and useName != ''">#{useName},</if>
         </trim>
    </insert>

    <update id="updateMProduct" parameterType="MProduct">
        update m_product
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="productName != null  and productName != ''">product_name = #{productName},</if>
            <if test="price != null  and price != ''">price = #{price},</if>
            <if test="productDescribe != null  and productDescribe != ''">product_describe = #{productDescribe},</if>
            <if test="image != null  and image != ''">image = #{image},</if>
            <if test="brandName != null  and brandName != ''">brand_name = #{brandName},</if>
            <if test="teamName != null  and teamName != ''">team_name = #{teamName},</if>
            <if test="useName != null  and useName != ''">use_name = #{useName},</if>
        </trim>
        where product_id = #{productId}
    </update>

    <delete id="deleteMProductById" parameterType="Long">
        delete from m_product where product_id = #{productId}
    </delete>

    <delete id="deleteMProductByIds" parameterType="String">
        delete from m_product where product_id in 
        <foreach item="productId" collection="array" open="(" separator="," close=")">
            #{productId}
        </foreach>
    </delete>
    
</mapper>