<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.visitor.shop.mapper.MUseMapper">
    
    <resultMap type="MUse" id="MUseResult">
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="useId"    column="use_id"    />
        <result property="useName"    column="use_name"    />
    </resultMap>

    <sql id="selectMUseVo">
        select create_by, create_time, update_by, update_time, remark, use_id, use_name from m_use
    </sql>

    <select id="selectMUseList" parameterType="MUse" resultMap="MUseResult">
        <include refid="selectMUseVo"/>
        <where>  
            <if test="useName != null  and useName != ''"> and use_name like concat('%', #{useName}, '%')</if>
        </where>
    </select>
    
    <select id="selectMUseById" parameterType="Integer" resultMap="MUseResult">
        <include refid="selectMUseVo"/>
        where use_id = #{useId}
    </select>
        
    <insert id="insertMUse" parameterType="MUse" useGeneratedKeys="true" keyProperty="useId">
        insert into m_use
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="createTime != null ">create_time,</if>
            <if test="updateBy != null  and updateBy != ''">update_by,</if>
            <if test="updateTime != null ">update_time,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="useName != null  and useName != ''">use_name,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="useName != null  and useName != ''">#{useName},</if>
         </trim>
    </insert>

    <update id="updateMUse" parameterType="MUse">
        update m_use
        <trim prefix="SET" suffixOverrides=",">
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="createTime != null ">create_time = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">update_by = #{updateBy},</if>
            <if test="updateTime != null ">update_time = #{updateTime},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="useName != null  and useName != ''">use_name = #{useName},</if>
        </trim>
        where use_id = #{useId}
    </update>

    <delete id="deleteMUseById" parameterType="Integer">
        delete from m_use where use_id = #{useId}
    </delete>

    <delete id="deleteMUseByIds" parameterType="String">
        delete from m_use where use_id in 
        <foreach item="useId" collection="array" open="(" separator="," close=")">
            #{useId}
        </foreach>
    </delete>
    
</mapper>